html {
   font-family: 'Roboto Condensed', sans-serif;
}

a:hover {
   color: black;
}

a {
   color: #a6aaa8;
   text-decoration: none;
}

.current {
   color: black;
}

p > a {
   color: black;
}

p > a:hover {
   color: #a6aaa8;
}

a > i {
   color: black;
}

a:hover > i {
   color: #a6aaa8;
}
