html {
   font-family: 'Roboto Condensed', sans-serif;
}

.creative-brief {
   font-family: Quicksand, sans-serif;
   font-weight: 400;
}

.museum-exhibition {
   font-family: Quicksand, sans-serif;
   font-weight: 700;
}

a:hover {
   color: black;
}

a {
   color: #a6aaa8;
   text-decoration: none;
}

.current {
   color: black;
}

p > a {
   color: black;
}

p > a:hover {
   color: #a6aaa8;
}

a > i {
   color: black;
}

a:hover > i {
   color: #a6aaa8;
}

strong {
   font-weight: 700;
}
