html {
   font-family: 'Roboto Condensed', sans-serif;
}

.museum-exhibition > h1 {
   font-family: Roboto, sans-serif;
   font-weight: 300;
}

.creative-brief > p {
   font-family: Roboto, sans-serif;
   font-weight: 100;
}

.typography-title > h1 {
   font-family: Roboto, sans-serif;
   font-weight: 300;
}

.typography-description {
   font-family: Roboto, sans-serif;
   font-weight: 100;
}

.drop-caps {
   box-shadow: 0 0 15px #a6aaa8;
}

.pixel-alphabet > img {
   box-shadow: 0 0 15px #a6aaa8;
}

.website > h1 {
   font-family: Roboto, sans-serif;
   font-weight: 300;
}

.website > p {
   font-family: Roboto, sans-serif;
   font-weight: 100;
}

.website > p > a {
   text-decoration: underline;
}

a:hover {
   color: black;
}

a {
   color: #a6aaa8;
   text-decoration: none;
}

.current {
   color: black;
}

p > a {
   color: black;
}

p > a:hover {
   color: #a6aaa8;
}

a > i {
   color: black;
}

a:hover > i {
   color: #a6aaa8;
}

strong {
   font-weight: 700;
}
