html {
   background-color: rgba(24, 108, 175);
}

body {
   width: 438px;
   margin: auto;
   color: white;
   font-size: 17px;
}

h1 {
   position: relative;
   top: 32px;
   font-size: 70px;
}

span {
   font-size: 96px;
   position: relative;
   top: -15px;
}

#after_submit {
   width: 450;
   margin: auto;
}

#quiz {
   width: 478px;
   margin: auto;
}

p {
   font-size: 17px;
}

#button {
   margin-top: 20px;
}
